<h1>Google Links Problems</h1>
<div class="input-add-process">
</div>
<div class="row">
  <form action="/blogs/posts/{{blogid}}/googlelinks" method="post" class="col s12">
    <input type="hidden" name="_method" value="POST">
    <div class="row">
      <div id="inputfield" class="input-field">
        <h5>Submit the Links Below in each line separatly: </h5>
        <textarea class="post-content" name="content"></textarea>
      </div>
      </div>
    </div>
    <input type="submit" value="Return to Unpublish" class="btn">
  </form>
</div>