<footer class="page-footer grey darken-3">
  <div class="footer-copyright">
    <div class="container">
      Crawbot - Developed By <a target="_blank" href="http://www.laithomar.com">Laith Omar </a>2019
    </div>
  </div>
</footer>