<h1>Welcome</h1>
<p>Wow.. You reached the amazing! Crawbot</p>
<p>Manage and Administrate Blogger websites with Powerfull Tool</p>
<p>List Blogs | View all Posts | Add and Edit Posts | View All Pages | Add and Edit Pages | Crawling from Similar Websites with Advanced Methodology</p>
{{#if username}}
{{else}}
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}