<h1>Check Existing Posts</h1>
<div class="row">
<ul class="collection with-header">
      <li class="collection-item">
        <div>
          Check Server By Link (URL)
          <a href="/blogs/blog/" class="secondary-content">
          <i class="material-icons">send</i></a>
          </div>
          </li>
      <li class="collection-item">
        <div>
          Manage Crawling Websites
          <a href="/blogs/blog/" class="secondary-content">
          <i class="material-icons">send</i></a>
          </div>
          </li>          
      <li class="collection-item">
        <div>
          Start Crawling Now
          <a href="/blogs/blog/" class="secondary-content">
          <i class="material-icons">send</i></a>
          </div>
          </li>
      <li class="collection-item">
        <div>
          Check Existing Posts
          <a href="/blogs/blog/" class="secondary-content">
          <i class="material-icons">send</i></a>
          </div>
          </li>
  </ul>
</div>